:root{
  --bg: white;
  --textColor: black; 
  --bs-dropdown-min-width: 8rem;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

 body a{
  text-decoration: none;
  color: inherit;
}

body{
  max-width: 100vw;
  overflow-x: hidden;
}

.container{
  margin: 0 !important;
  padding: 0 !important;
  min-width: 100vw;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper{
  margin: 0;
  padding: 0;
}

/* 
@media screen and (max-width: 1536px) {
  .wrapper{
    max-width: 1300px;
  }
} */

 /* @media screen and (max-width: 1200px) {
  .wrapper{
    max-width: 1150px;
  }
}  */

/* @media screen and (max-width: 1150px) {
  .wrapper{
    max-width: 960px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper{
    max-width: 768px;
    padding: 0 60px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper{
    max-width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper{
    max-width: 475px;
    padding: 0 40px;
  }
}

@media screen and (max-width: 475px) {
  .wrapper{
    max-width: 360px;
    padding: 0 20px;
  }
} */