:root{
  --bg: white;
  --textColor: black; 
<<<<<<< HEAD
=======
  --bs-dropdown-min-width: 8rem;
>>>>>>> da265e4 (Merge pull request #39 from oguzhankuzlukluoglu/oguzhan)
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

body{
  max-width: 100vw;
  overflow-x: hidden;
}

.container{
<<<<<<< HEAD
  min-height: 100vh;
=======
  margin: 0 !important;
  padding: 0 !important;
  min-width: 100vw;
>>>>>>> da265e4 (Merge pull request #39 from oguzhankuzlukluoglu/oguzhan)
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper{
<<<<<<< HEAD
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 80px;
}


=======
  margin: 0;
  padding: 0;
}

/* 
>>>>>>> da265e4 (Merge pull request #39 from oguzhankuzlukluoglu/oguzhan)
@media screen and (max-width: 1536px) {
  .wrapper{
    max-width: 1300px;
  }
<<<<<<< HEAD
}

@media screen and (max-width: 1300px) {
  .wrapper{
    max-width: 1150px;
  }
}

@media screen and (max-width: 1150px) {
=======
} */

 /* @media screen and (max-width: 1200px) {
  .wrapper{
    max-width: 1150px;
  }
}  */

/* @media screen and (max-width: 1150px) {
>>>>>>> da265e4 (Merge pull request #39 from oguzhankuzlukluoglu/oguzhan)
  .wrapper{
    max-width: 960px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper{
    max-width: 768px;
    padding: 0 60px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper{
    max-width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper{
    max-width: 475px;
    padding: 0 40px;
  }
}

@media screen and (max-width: 475px) {
  .wrapper{
    max-width: 360px;
    padding: 0 20px;
  }
<<<<<<< HEAD
}
=======
} */
>>>>>>> da265e4 (Merge pull request #39 from oguzhankuzlukluoglu/oguzhan)
