@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.interest, .comment{
    cursor: pointer; 
    animation: fadeIn 2s ease-in-out forwards;
}

.advert button{
    background-color: transparent;
    color: black;
    border: none;
}

.advert button:hover{
    background-color: transparent;
    color: black;
}
