.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    border-bottom: 1px solid rgb(216, 194, 216);
    padding: 0 80px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.title{
    text-align: center;
}

.title > a{
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
}

.title > a:hover{
    font-weight: 500;
}

.links{
    display: flex;
    flex-direction: row;
}

.links > a{
    padding: 2px 5px;
}

.links > a:hover{
    scale: 0.9;
}

.navmenu{
    display: none;
}

@media screen and (max-width:768px) {
    .title > a{
        font-size: 20px;
    }
    .links{
        display: none;
    }
    .navmenu{
        display: block;
    }
}
@media screen and (max-width:640px) {
    .container{
        padding: 0 40px;
    }
}

@media screen and (max-width:460px) {
    .title > a{
        font-size: 16px;
    }
    .title > a:hover{
        font-weight: 600px;
    }
}


