.container{
    display: flex;
    height: calc(100vh - 48px);
    max-width: 1300px;
    margin: 0 auto;
}
.slider{
    transition: all 0.5s ease-in-out;
    padding: 10px;
    display: flex;
    width: 100%;
    position: relative;
    gap: 10px;
    align-items: center;
}
.image{
    flex: 1;
}

.image > img{
    display: flex;
    width: 500px;
    height: 500px;
    object-fit: cover;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.5) 45%, rgba(255, 255, 255, 0.5) 55%, rgba(255, 255, 255, 0) 95%, rgba(255, 255, 255, 0)); 
    border-radius: 32px;
    opacity: 0.9;
}

.slide{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.slide h1{
    font-size: 70px;
    font-weight: 300;
}
.slide p{
    font-size: 18px;
}


.arrows > .arrowLeft{
    position: absolute;
    left: 0;
    top: 50%;
    opacity: 0.5;
    cursor: pointer;
}

.arrows > .arrowRight{
    position: absolute;
    right: 0;
    top: 50%;
    opacity: 0.5;
    cursor: pointer;
}

@media screen and (max-width:960px) {
    .container{
        padding: 0 80px;
    }
    .image img{
        width: 400px;
    }
    .slide h1{
        font-size: 45px;
    }
}

@media screen and (max-width:768px) {
    .slider{
        flex-direction: column;
    }
    .image img{
        width: 450px;
    }
    .slide{
        text-align: center;
    }
    .slide h1{
        font-size: 36px;
    }
    .slide p{
        padding: 0 40px;
        text-align: center;
        font-size: 16px;
    }
}

@media screen and (max-width:640px) {
    .container{
        padding: 0 40px;
    }
    .image{
        display: flex;
    justify-content: center;
    }
    .image img{
        width: 80%;
        height: auto;
    }
    .slide{
        text-align: center;
        justify-content: flex-start;
    }
}
