@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@300&family=Raleway:ital@0;1&display=swap');

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 80px;
}
.containerElements{
    justify-content: center;
    height: calc(100vh - 59px);
    display: flex;
    align-items: center;
    width: 100%;
}
.advertContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}
.advertTitle{
    margin: 0;
    font-weight: 300;
    padding: 20px 0;
}
.advertInfos{
    display: flex;
    justify-content: flex-start;
    padding: 20px 0;
    gap: 10px;
    min-height: 300px;
}
.generalInfos{
    display: flex;
    align-items: center;
    gap: 8px;
}

.userAndRoad{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.user{
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px;
    justify-content: center;
    min-width: 200px;
}
.user > img{
    width: 48px;
    height: 48px; 
}
.user > span{
    font-weight: 500;
}
.roadInfos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 4px;
}
.cities{
    display: flex;
    gap: 2px;
    align-items: center;
}
.roadInfos > span {
    min-width: 200px;
    padding-left: 20px;
}

.advertDesc{
    flex: 1;
    height: 152px;
}

.descTitle{
    font-size: 22px;
    font-weight: 400;
}
.descContent{
    padding: 4px 0;
}
.descContent > span{
    font-size: 20px;
    font-weight: 300;
}

.communicate{
    display: flex;
    width: 740.84px;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
.communicateDesc{
    display: flex;
    height: 100%;
    align-items: center;
    flex: 2;
}
.communicateDesc > span {
    font-size: 24px;
    font-weight: 500;
}
.communicateSection{
    flex: 1;
}
.whatsapp{
    display: flex;
    align-items: center;
    background-color: rgb(36, 210, 98);
    padding: 4px 4px 4px 0;
    border-radius: 32px;
    animation: grow-shrink 1s infinite alternate;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 145, 5, 0.5);
}
@keyframes grow-shrink {
    0% {
      transform: scale(1); /* Başlangıç ölçek */
    }
    100% {
      transform: scale(0.8); /* Bitiş ölçek */
    }
  }
.whatsapp > span{
    font-size: 24px;
    color: #fff;
    padding: 4px;
}

.contactSection{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 16px 8px;
}
.contact{
    width: 281px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(245, 62, 56);
    padding: 4px;
    border-radius: 32px;
    cursor: pointer;
}
.contact > span{
    font-size: 24px;
    color: #fff;
    padding: 4px;
}
