.container{
    height: calc(100vh - 3rem);
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    background: #cdc9c9;
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.8);
    width: 300px;
    height: 400px;

}

.form h3{
font-size: 30px;
color: white;
margin-bottom: 30px;
margin-top: 20px;
}
.form input{
    border: none;
    background: none;
    text-align: center;
    outline: none;
    padding: 10px;
    margin: 20px;
    color: white;
    height: 30px;
    width: 80%;
    border-radius: 20px;
    transition: 0.2s ease-in;
}

.form input[type="text"],.form input[type="password"]{
    border:solid 2px #5983ac
}

.form input[type="submit"]{
  border:solid 2px #5983ac;
  box-sizing: border-box;
  height: 50px;
  width:40%;
  cursor:pointer
}

.form input[type="text"]:focus,.form input[type="password"]:focus{
    width: 80%;
    border:solid 2px #5983ac;
}

.form input[type="submit"]:hover{
    background: #5983ac;
    color: #182c61;
}