.ingredient{
    display: flex;
    height: 20vh;
    padding: 20px 20px 0;
}

.ingredient h3{
    background-color: #abc8e4;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    font-family: sans-serif;
    width: 50%;
    border-bottom-left-radius: 20px;
    letter-spacing: 1px;
    border-top-right-radius: 20px;
}

.products{
    height: 45vh;
}

.products .boxContainer{
    display:flex;
    gap:20px; 
    justify-content: center;
    text-align: left;
    height: auto;
    min-height: 260px;
}
.products .boxContainer .box{
    text-align: left;
    background-color: #cdc9c9;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: auto;
}

.products .box-container .box .boxHead{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
} 

.userInfo{
    display: flex;
    gap: 4px;
    padding: 8px;
    align-items: center;
}

.products .boxContainer .box .boxHead .title{
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    font-weight: 500;
 }

 .products .boxContainer .box .boxHead .name{
    text-align:left;
    overflow-wrap: anywhere;
    font-family: "Thoma",sans-serif;
    padding: 2px;
    font-size: 18px;
    font-weight: 400;
}

.buto{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
    background: #d5d5d5;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.buto .icon{
    padding: 10px 0;
    display: flex;
    gap: 4px;
    align-items: center;
}

.findAdvert{
    height: 20vh;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    background: #d5d5d5;
    border-radius: 20px 20px 0 0;
}

.buton{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
}


.select{
display: flex;
border-radius: .25em;
align-items: center;
}

.select select{
    outline: none;
    width: 100%;
}


.select:hover::after{
    color: aliceblue;
}

.select{
    flex:1;
    color: black;
    cursor: pointer;
}

.where{
    display: flex;
    gap: 4px;
    align-items: center;
}

.where p{
    font-size: 20px;
    min-width: 100px;
}

.button{
    text-align: center;
}

.btn{
    background: #abc8e4;
    border: 2px solid #2c3e50;
    font-size: 18px;
    font-family: "Thoma",sans-serif;
    padding: 4px 5px;
    border-bottom-right-radius: 16px;
    min-width: 100px;
    cursor: pointer;
    transition: color 0.4s linear;
    display: inline-block;
}

.btn:hover{
    color: #fff;
}

/* .btn::before{
    width: 100%;
    height: 100%;
    background: #5983ac;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin:0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
} */

.createAdvert{
    display: flex;
    padding: 20px;
    gap: 10px;
    height: 20vh;
    align-items: center;
    justify-content: center;
}

.createAdvert .name{
    width: 50%;
    font-size: 24px;
    padding: 10px;
    font-family: sans-serif;
}
.publish{
    padding: 10px;
    background: #abc8e4;
    border: 2px solid #2c3e50;
    font-size: 18px;
    font-family: "Thoma",sans-serif;
    min-width: 100px;
    cursor: pointer;
    transition: color 0.4s linear;
    border: none;
}
@media screen and (max-width:960px) {
   .ingredient h3{
    font-size: 18px;
   }
   .userInfo h3{
    font-size: 20px;
   }
   .findAdvert{
    height: 15vh;
   }
   .createAdvert p{
    font-size: 20px;
   }
}

@media screen and (max-width:768px) {
    .products{
        height: 42vh;
    }
    .ingredient h3{
        font-size: 15px;
        width: auto;
       }
       .userInfo h3{
        font-size: 20px;
       }
       .boxHead p{
        font-size: 16px;
       }
       .buto{
        font-size: large;
       }
       .findAdvert{
        height: 15vh;
       }
       .createAdvert .name{
        font-size: 20px;
       }
       .city{
        display: flex;
        flex-direction: column;
        gap: 4px;
       }
       .where p{
        min-width: 100px;
       }
}
@media screen and (max-width:640px) {
   .products{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
   }
   .boxContainer{
    flex-wrap: wrap;
    max-width: 250px;
   }
   .icon{
    font-size: medium;
   }
   .icon img{
    width: 24px;
    height: 24px;
   }
   .createAdvert .name{
    font-size: 18px;
   }
}
@media screen and (max-width:474px) {
    .buto{
        flex-direction: column;
        background: none;
        gap: 2px;
    }
    .icon{
        background: #cdc9c9;
        justify-content: center;
        width: 100%;
    }
    .findAdvert{
        flex-direction: column;
        height: 18vh;
    }
    .createAdvert{
        flex-direction: column;
    height: 25vh;
    }
    .createAdvert .name{
        width: 100%;
    }

}