.container{
    height: calc(100vh - 3rem);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* :root{
    --main-color: #cdc9c9;
    --border: 0.1rem solid rgba(255,255,255,0.4);

} */

.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
    /*align-items:center; */
}

.slider{
   width: 366px;
   height: 338px;
   position: relative;
}

.slider img{
   width: 100%;
   height: 100%;
   border-radius: 3px; 
}

.buton{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
}

.buton i{
    color: white; 
}

.buton i:hover{
    color: gray;
}

.main .content{
    background-color:#e8e8e8;
}

.main .content h2{
    margin: 10px 0;
    padding: 0;
    color: black;
    font-size: 30px;
    margin-top: 60px;
    text-align: center;
}

.main .content p{
    margin: 0;
    padding: 0;
    color: black;
        font-size: 16px;
    font-weight: bold;
    text-align:center;
    margin-top:50px;
    margin-left: 10px;
    margin-right:10px;
}

.ingredient h3{
background-color:#5983ac;
display: flex;
text-align: center;
justify-content: center;
align-items: center;
width:25rem;
height: 4rem;
margin:auto
}

.products .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap:1.5px; 
    margin:5px;
    padding-left: 10rem;
    justify-content: center;
    text-align: left;
}

.products .box-container .box{
    text-align: left;
    background-color: #cdc9c9;
    position: relative;
    border-radius:1rem;
    height:15rem;
    width:20rem;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
}
 .products .box-container .box .box-head{
    flex-direction: column;
    align-items:flex-start;
    position: relative;
    z-index: 10;
    display: inline-block;
} 
.products .box-container .box .box-head .title{
   font-size: 1.4rem;
   justify-content: center;
   align-items: center;
}
.products .box-container .box .box-head .name{
 font-size: 1rem;
 font-weight: bold;
 text-align:center;
 overflow-wrap: anywhere;
 
}
         

.buto{
    position: absolute;
    width: 100%;
    height: 7%;
    display: flex;
    justify-content:space-around;
    align-items:center;
    padding-left: 500px;
    padding-right: 500px;
    font-size: x-large;
 }

.select{
-webkit-appearance: none;
-moz-appearance: none;
-ms-appearance:none;
appearance: none;
outline: 0;
box-shadow: none;
border:0 !important;
background: white;
background-image: none;
position: relative;
display: flex;
width: 20em;
height: 2em;
line-height: 3em;
overflow: hidden;
border-radius: .25em;
}

select::after{
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 1em;
   background:white;
   cursor: pointer;
   pointer-events: none;
   -webkit-transition: .25s all ease;
   transition: .25s all ease;
   -o-transition: .25s all ease;

}

.select:hover::after{
    color: aliceblue;
}

select{
    flex:1;
    /* padding: 0 5em; */
    color: black;
    cursor: pointer;
}

.button{
    position: absolute;
   /*  top: 90%;*/
    left: 62%; 
    transform: translate(-50% , -50%);
    text-align: center;
}

.btn{
    background: none;
    border: 2px solid #2c3e50;
    font-size: 14px;
    font-family: "Thoma",sans-serif;
    /* text-transform: uppercase; */
    padding: 12px 20px;
    min-width: 150px;
    margin: 10px;
    cursor: pointer;
    position: relative;
    transition: color 0.4s linear;
}

.btn:hover{
    color: #5983ac;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #5983ac;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin:0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.name{
    font-size: 20px;
    text-align: center;
    justify-content: center;
    font-family: "Thoma",sans-serif;
}