.whereContainer{
    display: flex;
    flex-direction: column;
    height: 32px;
    gap: 2px;
    position: relative;
}
.advertContainer{
    display: flex;
    flex-direction: column;
    height: 40px;
    gap: 2px;
    position: relative;
}

.whereInput{
    display: flex;
    align-items: center;
}

.whereInput > .whereLabel{
    padding: 3px;
    min-width: 92px;
}

.whereInput > .advertLabel{
    padding: 3px;
    min-width: 94px;
    height: 30px;
}

.whereInput > .advertInput {
    outline: none;
    height: 32px;
    width: 225.2px;
    padding-left: 10px;
}

.whereInput > .whereInputSelect {
    outline: none;
    border-radius: 20px;
    border: 1px solid black;
    border: none; /* Border kaldırıldı */
    height: 40px;
}

.scrollContainer {
    max-height: 150px;
    width: 150px;
    overflow-y: auto; 
    z-index: 1;
    position: absolute;
    top: 25px;
    left: 85px;
    background-color: #b8a1a1;
}

.scrollContainer > p{
    padding: 0 2px;
    text-align: center;

}

.scrollContainer::-webkit-scrollbar {
    width: 8px;
}

.scrollContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scrollContainer::-webkit-scrollbar-thumb {
    background: #b8a1a1; 
    border-radius: 4px;
}

.scrollContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.selected{
    background-color: #b8b8b8;
}

@media screen and (max-width:960px) {
    .whereInput > label{
        min-width: 100px;
    }
}
@media screen and (max-width:475px) {
    .whereInput > label{
        min-width: 80px;
    }
}

@media screen and (max-width:300px) {
.whereInput{flex-direction: column;}
.whereInput > input {
    width: 60%;
}
}